:root {
    --naranja: #fd5444;
    --naranja-light: #fd53449f;
    --naranja-dark: #af3a2f;
    --blue-grey: #e4e2fd;
    /* --blue-grey: #def; */
    --dark: #1c1c21;
    --beige: #fcf0ed;
    --special-blue: #534ff2;
    --special-blue-dark: #3c3ab4;
}
#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: "Mont light";
    src: url("./assets/fonts/Mont-ExtraLightDEMO.otf");
}
@font-face {
    font-family: "Mont heavy";
    src: url("./assets/fonts/Mont-HeavyDEMO.otf");
}
body {
    font-family: "Mont light";
}
.grow {
    flex-grow: 1;
}
.infoContacto {
    list-style: none;
}
.subrayado {
    border-bottom: 3px solid #e7b315;
}
.fs-20 {
    font-size: 20px;
    line-height: 26px;
}
.fs-32 {
    font-size: 48px;
    line-height: 48px;
}
.text-naranja {
    color: var(--naranja) !important;
}
.bg-naranja {
    background-color: var(--naranja) !important;
}
.bg-blue-grey {
    background-color: var(--blue-grey) !important;
}
.bg-naranja-light {
    background-color: var(--naranja-light) !important;
}
.btn-naranja {
    background-color: var(--naranja) !important;
    color: #fff !important;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: var(--naranja-dark) !important;
    }
}
.btn-blue {
    background-color: var(--special-blue) !important;
    color: #fff !important;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: var(--special-blue-dark) !important;
    }
}
.title {
    font-family: "Mont heavy";
}
.w-250 {
    width: 250px !important;
}
