:root {
    --naranja: #fd5444;
    --naranja-light: #fd53449f;
    --naranja-dark: #af3a2f;
    --blue-grey: #e4e2fd;
    --blue-grey-transparent: #e4e2fd37;
    --dark: #1c1c21;
    --beige: #fcf0ed;
    --special-blue: #534ff2;
    --special-blue-dark: #3c3ab4;
    --light-red: #f17676;
}
#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: "Mont light";
    src: url("./assets/fonts/Mont-ExtraLightDEMO.otf");
}
@font-face {
    font-family: "Mont heavy";
    src: url("./assets/fonts/Mont-HeavyDEMO.otf");
}
body {
    font-family: "Mont light";
}
.grow {
    flex-grow: 1;
}
.max {
    width: 100%;
    height: 95vh;
}
.infoContacto {
    list-style: none;
}
.subrayado {
    border-bottom: 3px solid #e7b315;
}
.fs-20 {
    font-size: 20px;
    line-height: 26px;
}
.fs-32 {
    font-size: 48px;
    line-height: 48px;
}
.fs-72 {
    font-size: 72px;
    line-height: 48px;
}
.text-naranja {
    color: var(--naranja) !important;
}
.text-beige {
    color: var(--beige) !important;
    transition: color 0.2s ease-in;
    &:hover {
        color: var(--special-blue) !important;
    }
}
.bg-naranja {
    background-color: var(--naranja) !important;
}
.bg-outline-naranja {
    border: 2px solid var(--naranja-dark) !important;
    background-color: var(--light-red) !important;
}
.bg-beige {
    background-color: var(--beige) !important;
}
.bg-galeria {
    background-image: url("./assets/bg-galeria.svg") !important;
}
.bg-blue-grey {
    background-color: var(--blue-grey) !important;
}
.bg-blue-transparent {
    background-color: var(--blue-grey-transparent) !important;
}
.bg-naranja-light {
    background-color: var(--naranja-light) !important;
}
.bg-light-red {
    border: 2px solid red;
    background-color: var(--naranja-light) !important;
}
.bg-red {
    background-color: var(--naranja-dark) !important;
}
.bg-oscuro {
    background-color: var(--dark) !important;
}
.bg-special-blue {
    background-color: var(--special-blue-dark) !important;
}
.bg-outline-special-blue {
    background-color: #def !important;
    border: 2px solid var(--special-blue);
}
.text-dark-red {
    color: #701414 !important;
}
.btn-naranja {
    background-color: var(--naranja) !important;
    color: #fff !important;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: var(--naranja-dark) !important;
    }
}
.btn-close {
    background-color: var(--special-blue) !important;
    border-radius: 0 !important;
}
.btn-blue {
    background-color: var(--special-blue) !important;
    color: #fff !important;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: var(--special-blue-dark) !important;
    }
}
.btn-beige {
    background-color: var(--beige) !important;
    color: #000 !important;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: var(--dark) !important;
        color: var(--beige) !important;
    }
}
.btn-dark {
    background-color: var(--dark) !important;
    color: #fff !important;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: var(--special-blue-dark) !important;
    }
}
.btn-outline-dark {
    background-color: var(--dark) !important;
    border: 2px solid var(--special-blue) !important;
    color: #fff !important;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: var(--special-blue-dark) !important;
    }
}
.btn-outline-blue {
    background-color: transparent !important;
    border: 2px solid var(--special-blue) !important;
    color: var(--special-blue) !important;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: var(--special-blue-dark) !important;
        color: #fff !important;
    }
}
.max-h {
    max-height: 500px;
}
.about {
    width: 50% !important;
}
@media screen and (min-width: 992px) {
    .arrow {
        width: 40% !important;
    }
    .about {
        width: 60% !important;
    }
}
.btn-outline-naranja {
    background-color: transparent !important;
    border: 2px solid var(--naranja-dark) !important;
    color: #fff !important;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: var(--naranja-dark) !important;
    }
}
.title {
    font-family: "Mont heavy";
}
.w-250 {
    width: 250px !important;
}
.float {
    position: absolute;
    top: 8px;
    left: 8px;
}
.grid {
    display: flex;
    align-items: center;
    background-image: url("./assets/hotel.jpeg");
    background-size: cover;
}
.text-light-red {
    color: var(--light-red) !important;
}
.text-special-blue {
    color: var(--special-blue-dark) !important;
}
.min {
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    color: #fff;
    max-width: 500px !important;
}
.min input {
    background-color: transparent !important;
    color: #fff !important;
    font-weight: bold;
    &::placeholder {
        color: #ffffff94 !important;
    }
    &:focus {
        box-shadow: 0 0 0 0.25rem var(--special-blue) !important;
    }
}
@media screen and (min-width: 768px) {
    .grid {
        background-image: url("./assets/hotel2.jpeg");
    }
    .shadow-amarillo {
        box-shadow: 38px -35px 0px -10px var(--naranja-light);
    }
    .shadow-beige {
        box-shadow: -38px -35px 0px -10px var(--beige);
    }
    .h-500 {
        width: 100%;
        height: 500px;
    }
    .h-350 {
        width: 400px;
        height: 100%;
    }
    .w-500 {
        width: 500px;
        height: 100%;
    }
    .img-hover {
        transition: all 0.2s ease-out;
        &:hover {
            transform: scale(1.2);
        }
    }
}
@media screen and (min-width: 700px) {
    .float {
        position: absolute;
        top: 32px;
        left: 24px;
    }
}
